body {
  font-family: sans-serif, Tahoma, Arial; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1; }

.overlay-ng {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1; }

.overlay-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1; }

.bord {
  font-size: 30px;
  margin-bottom: 20px; }
.bord:after, .bord:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  display: block;
  background-color: #296DC1; }
.bord:before {
  left: 60px;
  top: 40px; }

.scroll-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #296DC1;
  color: #FFF;
  z-index: 9999;
  cursor: pointer; }

/*preloader-area */
.preloder-wrap {
  background-color: #296DC1;
  color: #FFF;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999999; }
.preloder-wrap .loader {
  height: 200px;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  margin-left: -100px; }
.preloder-wrap .child-common {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  border-left: 5px solid #FFF;
  border-right: 5px solid #FFF;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  -webkit-animation: animate3 2s infinite;
  animation: animate3 2s infinite; }
.preloder-wrap .child1 {
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px; }
.preloder-wrap .child2 {
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.preloder-wrap .child3 {
  left: 55px;
  top: 55px;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.preloder-wrap .child4 {
  left: 45px;
  top: 45px;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

@-webkit-keyframes animate3 {
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes animate3 {
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); } }
/*preloader-area */
/* Start Slider */
.slide-example {
  position: relative; }
.slide-example .carousel-caption {
  bottom: 25%; }
@media (max-width: 767px) {
  .slide-example .carousel-caption {
    bottom: 5%; } }
.slide-example .carousel-caption h3 {
  font-size: 30px;
  font-weight: normal;
  color: #FEFEFE;
  text-transform: uppercase;
  margin-bottom: 15px; }
@media (max-width: 767px) {
  .slide-example .carousel-caption h3 {
    margin-bottom: 0;
    line-height: 1.6;
    font-size: 20px; } }
.slide-example .carousel-caption p {
  color: #D8D8D8;
  line-height: 1.8; }
@media (max-width: 767px) {
  .slide-example .carousel-caption p {
    line-height: 2;
    font-size: 15px; } }
@media (max-width: 767px) {
  .slide-example .carousel-caption .m-btn1 {
    margin-bottom: 10px; } }
.slide-example .carousel-control-prev, .slide-example .carousel-control-next {
  position: absolute;
  top: 45%;
  background-color: #296DC1;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  opacity: 1;
  right: -100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
@media (max-width: 767px) {
  .slide-example .carousel-control-prev, .slide-example .carousel-control-next {
    width: 35px;
    height: 35px;
    line-height: 35px; } }
.slide-example .carousel-control-prev {
  left: -100px; }
.slide-example:hover .carousel-control-prev {
  left: 0; }
.slide-example:hover .carousel-control-next {
  right: 0; }

/* End Slider */
/* Start About */
.about {
  padding-top: 10%; }
.about .about-img {
  position: relative;
  margin-bottom: 20px; }
.about .about-img:after {
  position: absolute;
  content: "";
  z-index: 9;
  left: 25px;
  top: 20px;
  opacity: .4;
  width: 90%;
  height: 90%;
  border: 3px solid #FFF; }
.about .text-about {
  padding-left: 20px; }
.about .text-about p {
  color: #555;
  line-height: 1.7; }
.about .text-about ul li {
  position: relative;
  padding-left: 25px;
  line-height: 1.7;
  color: #555;
  font-size: 15px; }
.about .text-about ul li:before {
  content: "";
  position: absolute;
  outline: 2px solid #296DC1;
  outline-offset: 2px;
  top: 10px;
  left: 5px;
  width: 5px;
  height: 5px;
  background-color: #296DC1; }
@media (max-width: 576px) {
  .about .text-about ul li {
    font-size: 13px; } }

.about-info {
  margin-top: 50px;
  color: #FFF;
  padding-left: 10px; }
.about-info .box {
  background-color: #296DC1;
  padding: 40px;
  margin-bottom: 20px;
  position: relative; }
.about-info .box i {
  margin-bottom: 15px; }
.about-info .box h5 {
  line-height: 1.7;
  font-size: 17px; }
.about-info .box:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  opacity: .5;
  border: 2px solid #FFF;
  z-index: 2; }

/* End About */
.our-service {
  padding-top: 100px; }
@media (max-width: 767px) {
  .our-service {
    padding-top: 50px; } }
.our-service .service-box h2 {
  margin-bottom: 15px; }
.our-service .service-box p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 25px; }
@media (max-width: 767px) {
  .our-service .service-box p {
    margin-bottom: 0;
    line-height: 2;
    font-size: 15px; } }
.our-service .card {
  border: none;
  color: #555;
  margin-bottom: 20px;
  margin-top: 15px; }
.our-service .card:hover .card-body {
  background-color: #296DC1;
  color: #FFF; }
.our-service .card:hover .card-body a {
  color: #FFF; }
.our-service .card:hover .overlay-img {
  background-color: rgba(0, 0, 0, 0.6); }
.our-service .card .card-img {
  position: relative; }
.our-service .card .card-img img {
  width: 100%; }
.our-service .card .card-body {
  background-color: #FAFAFA; }
.our-service .card .card-body h2 {
  background-color: #000; }
.our-service .card .card-body p {
  font-size: 15px;
  line-height: 1.7; }
.our-service .card .card-body a {
  text-decoration: none;
  color: #555; }

.count {
  position: relative;
  color: #FFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px;
  background-position: center center;
  width: 100%;
  margin-top: 100px; }
@media (max-width: 767px) {
  .count {
    padding: 50px; } }
@media (max-width: 767px) {
  .count {
    margin-top: 50px; } }
.count .overlay {
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.8); }
.count .count-box {
  margin-bottom: 30px;
  z-index: 1; }
.count .count-box p {
  font-size: 50px;
  margin-bottom: 0; }

.our-work {
  padding-top: 100px; }
@media (max-width: 767px) {
  .our-work {
    padding-top: 50px; } }
.our-work h1 {
  margin-bottom: 15px; }
.our-work p {
  color: #555; }
@media (max-width: 767px) {
  .our-work p {
    line-height: 2;
    font-size: 15px; } }
.our-work .mix-btn {
  margin-top: 30px;
  margin-bottom: 30px; }
.our-work .mix-btn .m-btn {
  padding: 10px 40px;
  background-color: #296DC1;
  color: #FFF;
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  border: none; }
.our-work .mix-btn .m-btn:before {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: -9;
  width: 50px;
  height: 100%;
  background-color: #0552b1;
  content: "";
  -webkit-transform: skewX(-48deg);
  -moz-transform: skewX(-48deg);
  -o-transform: skewX(-48deg);
  -ms-transform: skewX(-48deg);
  transform: skewX(-48deg); }
.our-work .mix-btn .active {
  background-color: #0552b1;
  color: #FFF; }
.our-work .mix-btn .active:before {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: -9;
  width: 55px;
  height: 100%;
  background-color: #296DC1;
  content: "";
  -webkit-transform: skewX(-48deg);
  -moz-transform: skewX(-48deg);
  -o-transform: skewX(-48deg);
  -ms-transform: skewX(-48deg);
  transform: skewX(-48deg); }
.our-work .img-work {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px; }
.our-work .img-work .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: #296DC1;
  width: 100%;
  height: 100%;
  color: #FFF;
  padding-top: 15%; }
.our-work .img-work .overlay i {
  color: #000;
  background-color: #FFF;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 20px; }
.our-work .img-work .overlay p {
  color: #FFF; }

.features .special-feature h1 {
  margin-bottom: 15px;
  padding-top: 100px;
  font-family: serif; }
.features .special-feature p {
  line-height: 1.7;
  color: #555; }
.features .feature-wrap {
  padding-top: 50px; }
.features .feature-wrap ul {
  position: relative;
  overflow: hidden; }
.features .feature-wrap ul:before {
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background: #296DC1;
  content: "";
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
.features .feature-wrap ul li {
  position: relative;
  overflow: hidden;
  padding: 60px 0px 10px 0; }
.features .feature-wrap ul li:before {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  height: 10px;
  width: 10px;
  background: #296DC1;
  content: "";
  border-radius: 50%;
  margin-top: 20px; }
.features .feature-wrap ul li:last-child {
  padding: 17px 0; }
.features .feature-wrap ul li h3 {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 0;
  padding: 10px 30px;
  background: #0552b1;
  color: #fff;
  font-size: 15px; }
.features .feature-wrap ul li .feature-content {
  float: right;
  width: 43%;
  background: #0552b1;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 5px; }
.features .feature-wrap ul li .feature-content:before {
  position: absolute;
  top: 50%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  content: "";
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
.features .feature-wrap ul li .feature-content .feature-img {
  width: 40%;
  position: relative; }
.features .feature-wrap ul li .feature-content .feature-img:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  content: "";
  opacity: .3;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
.features .feature-wrap ul li .feature-content .feature-info {
  width: 60%;
  padding-top: 5px;
  padding-left: 15px; }
.features .feature-wrap ul li .feature-content h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #FFF; }
.features .feature-wrap ul li .feature-content p {
  color: #d2d2d2;
  line-height: 1.6; }
.features .feature-wrap ul li:hover .feature-content {
  background: #296DC1; }
.features .feature-wrap ul li:hover .feature-content .feature-img:before {
  opacity: .7; }
.features .feature-wrap ul li:nth-child(odd) .feature-content:before {
  border-right: 10px solid #0552b1;
  left: -10px; }
.features .feature-wrap ul li:nth-child(odd) .feature-content .feature-img {
  float: right; }
.features .feature-wrap ul li:nth-child(odd) .feature-content .feature-info {
  float: left; }
.features .feature-wrap ul li:nth-child(even) .feature-content {
  float: left; }
.features .feature-wrap ul li:nth-child(even) .feature-content:before {
  right: -10px;
  border-left: 10px solid #0552b1; }
.features .feature-wrap ul li:nth-child(even) .feature-content .feature-img {
  float: left; }
.features .feature-wrap ul li:nth-child(even) .feature-content .feature-info {
  float: right; }
@media (max-width: 991px) {
  .features {
    display: none; } }

.video-pop {
  margin-top: 100px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
@media (max-width: 767px) {
  .video-pop {
    margin-top: 50px; } }
.video-pop .video {
  padding-top: 200px;
  padding-bottom: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.video-pop .video .mu-video-us i {
  top: 45%;
  position: absolute;
  left: 47%;
  background-color: #FFF;
  padding: 30px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
.video-pop .video .mu-video-us i:hover {
  background-color: #296DC1;
  color: #FFF;
  box-shadow: 0 0 15px #FFF; }

#about-video-popup {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  z-index: 99999; }
#about-video-popup span {
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 30px;
  margin-right: 50px;
  margin-top: 50px; }
@media (max-width: 767px) {
  #about-video-popup span {
    position: absolute;
    z-index: 333;
    right: 30px;
    top: 30px;
    margin-right: 0;
    margin-top: 0; } }
#about-video-popup iframe {
  margin: 8% auto;
  width: 650px;
  height: 450px;
  position: relative; }
@media (max-width: 767px) {
  #about-video-popup iframe {
    height: 350px;
    width: 80%; } }

.best-team {
  margin-top: 100px; }
@media (max-width: 767px) {
  .best-team {
    margin-top: 50px; } }
.best-team h1 {
  font-family: serif; }
.best-team p {
  color: #555; }
.best-team .team-wrap {
  padding-bottom: 90px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-top: 50px; }
.best-team .team-wrap .team-img {
  position: relative;
  z-index: 9;
  /* Home 3 */ }
.best-team .team-wrap .team-img:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  opacity: 0;
  z-index: 9;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top; }
.best-team .team-wrap .team-img img {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.best-team .team-wrap:hover .team-img:before {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  opacity: .5; }
.best-team .team-wrap:hover .team-img img {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px); }
.best-team .team-wrap:hover .team-content {
  height: 125px; }
.best-team .team-wrap:hover .team-content ul {
  opacity: 1; }
.best-team .team-wrap:hover .team-content ul li {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }
.best-team .team-wrap:hover .team-content ul li:nth-child(1) {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms; }
.best-team .team-wrap:hover .team-content ul li:nth-child(2) {
  -webkit-transition-delay: 200ms;
  -moz-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms; }
.best-team .team-wrap:hover .team-content ul li:nth-child(3) {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms; }
.best-team .team-wrap:hover .team-content ul li:nth-child(4) {
  -webkit-transition-delay: 400ms;
  -moz-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms; }
.best-team .team-wrap .team-content {
  height: 90px;
  width: 100%;
  bottom: 0;
  position: absolute;
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  z-index: 9;
  color: #FFF; }
.best-team .team-wrap .team-content .team-info {
  background: #296dc1;
  padding: 20px; }
.best-team .team-wrap .team-content .team-info h4 {
  font-size: 16px;
  margin-bottom: 0; }
.best-team .team-wrap .team-content .team-info span {
  color: #D8D8D8;
  font-size: 14px; }
.best-team .team-wrap .team-content ul {
  opacity: 0;
  margin-right: 30px;
  margin-top: 10px; }
.best-team .team-wrap .team-content ul li {
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -o-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  display: inline-block; }
.best-team .team-wrap .team-content ul li a {
  background: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.best-team .team-wrap .team-content ul li a:hover {
  background-color: #0552b1;
  color: #FFF;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }

.frequently {
  padding-top: 100px; }
@media (max-width: 767px) {
  .frequently {
    padding-top: 50px; } }
.frequently .frequently-box h1 {
  margin-bottom: 15px;
  font-family: serif; }
@media (max-width: 767px) {
  .frequently .frequently-box h1 {
    font-size: 25px; } }
.frequently .frequently-box p {
  color: #555;
  line-height: 1.6; }
@media (max-width: 767px) {
  .frequently .frequently-box p {
    line-height: 2; } }
.frequently .frequently-faq {
  padding-top: 30px; }
.frequently .frequently-faq .card {
  margin-bottom: 10px; }
.frequently .frequently-faq .card .card-header {
  background-color: #296DC1; }
.frequently .frequently-faq .card .card-header h2 {
  position: relative; }
.frequently .frequently-faq .card .card-header h2 button {
  overflow: hidden;
  color: #FFF;
  padding: 0;
  text-decoration: none; }
.frequently .frequently-faq .card .card-header h2 button:before {
  position: absolute;
  top: -12px;
  overflow: hidden;
  content: "";
  right: -35px;
  background-color: #0552B1;
  width: 50px;
  height: 163%;
  -webkit-transform: skewX(-25deg);
  -moz-transform: skewX(-25deg);
  -o-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg); }
.frequently .frequently-faq .card .collapse {
  line-height: 1.7;
  color: #555;
  border: 1px solid #296DC1; }
.frequently .forming {
  padding-left: 20px;
  padding-top: 30px; }
@media (max-width: 767px) {
  .frequently .forming {
    padding-left: 0;
    padding-top: 20px; } }
.frequently .forming form label {
  display: block;
  font-family: serif;
  margin-bottom: 5px; }
.frequently .forming form textarea {
  width: 100%;
  height: 200px; }
.frequently .forming form button {
  border: 1px solid #333;
  color: #000;
  cursor: pointer; }
.frequently .forming form button:hover {
  color: #FFF;
  border: none; }

.our-client {
  padding-top: 100px; }
@media (max-width: 767px) {
  .our-client {
    padding-top: 50px; } }
.our-client h1 {
  margin-bottom: 15px;
  font-family: serif; }
.our-client p {
  color: #555;
  line-height: 1.7; }
@media (max-width: 767px) {
  .our-client p {
    font-size: 15px; } }
.our-client .item {
  padding-top: 30px; }
.our-client .item .item-info {
  background-color: #296DC1;
  padding: 20px;
  color: #FFF; }
.our-client .item .item-info h5 {
  margin-bottom: 5px; }
.our-client .item .item-info span {
  font-size: 13px;
  color: #D8D8D8; }
.our-client .item .item-info ul {
  margin-top: 10px; }
.our-client .item .item-info ul li {
  display: inline-block;
  color: #c5c53a; }
.our-client .item .item-info p {
  color: #FFF;
  font-size: 15px;
  color: #D8D8D8; }
.our-client .item .client-img img {
  max-width: 60px; }

.prallex {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
  color: #FFF;
  width: 100%;
  z-index: 1; }
@media (max-width: 767px) {
  .prallex {
    margin-top: 50px; } }
.prallex h2 {
  line-height: 2; }
@media (max-width: 576px) {
  .prallex h2 {
    font-size: 17px; } }

.creativ {
  padding-top: 100px; }
@media (max-width: 767px) {
  .creativ {
    padding-top: 50px; } }
.creativ h1 {
  margin-bottom: 15px;
  font-family: serif; }
.creativ p {
  color: #555;
  line-height: 1.7; }
@media (max-width: 767px) {
  .creativ p {
    font-size: 15px; } }
.creativ .card {
  border: none;
  padding-top: 30px;
  margin-bottom: 20px; }
.creativ .card:hover .card-img:before, .creativ .card:hover .card-img:after {
  width: 50%; }
.creativ .card:hover .card-body:before {
  width: 50%;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.creativ .card:hover .card-body:after {
  width: 50%;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.creativ .card .card-img {
  position: relative; }
.creativ .card .card-img img {
  width: 100%; }
.creativ .card .card-img:before, .creativ .card .card-img:after {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 0;
  height: 100%;
  content: "";
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.creativ .card .card-img:before {
  left: 0; }
.creativ .card .card-img:after {
  right: 0; }
.creativ .card .card-body {
  border-bottom: 1px solid #555;
  padding-bottom: 0;
  padding: 15px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05); }
.creativ .card .card-body:before, .creativ .card .card-body:after {
  position: absolute;
  bottom: 0;
  background-color: #296DC1;
  width: 50px;
  height: 2px;
  content: "";
  z-index: 1;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.creativ .card .card-body:before {
  left: 0; }
.creativ .card .card-body:after {
  right: 0; }
.creativ .card .card-body ul {
  color: #555; }
.creativ .card .card-body ul li {
  display: inline-block; }
.creativ .card .card-body ul li i {
  margin: 4px; }
@media (max-width: 576px) {
  .creativ .card .card-body ul li i {
    margin: 1px; } }
.creativ .card .card-body h4 {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 20px; }
.creativ .card .card-body h4:hover {
  color: #296DC1; }
.creativ .card .card-body p {
  color: #555;
  line-height: 1.7; }
.creativ .card .card-body button {
  color: #333;
  border: 1px solid #296DC1;
  padding: 8px 20px; }
.creativ .card .card-body button:hover {
  color: #FFF; }

.sign-up {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  z-index: 0;
  margin-top: 100px;
  color: #FFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%; }
@media (max-width: 767px) {
  .sign-up {
    margin-top: 50px; } }
.sign-up .overlay-ng {
  background-color: rgba(0, 0, 0, 0.8); }
@media (max-width: 767px) {
  .sign-up h2 {
    font-size: 26px; } }
.sign-up h5 {
  font-size: 16px;
  color: #D8D8D8;
  margin-top: 15px; }
.sign-up .form-group {
  margin-top: 20px;
  position: relative; }
.sign-up .form-group button {
  padding: 7px 35px;
  background-color: #0552B1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0; }
.sign-up .form-group button:hover {
  color: #FFF; }

.special-service {
  padding-top: 100px; }
@media (max-width: 767px) {
  .special-service {
    padding-top: 50px; } }
.special-service .special-box h1 {
  font-family: serif; }
@media (max-width: 576px) {
  .special-service .special-box h1 {
    font-size: 23px; } }
.special-service .special-box p {
  color: #555;
  line-height: 1.7; }
.special-service .special-info {
  background-color: #FAFAFA;
  padding: 20px 30px;
  margin-bottom: 20px;
  color: #555;
  margin-top: 30px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.special-service .special-info:hover {
  background-color: #296DC1;
  color: #FFF; }
.special-service .special-info h3 {
  font-family: serif; }
.special-service .special-info p {
  font-size: 15px;
  line-height: 1.7; }

.best-team-home2 {
  padding-top: 50px;
  overflow: hidden; }
.best-team-home2 .box-team h1 {
  font-family: serif; }
.best-team-home2 .box-team p {
  color: #555;
  line-height: 1.7; }
.best-team-home2 .team-wrap {
  padding-top: 30px;
  overflow: hidden; }
.best-team-home2 .team-wrap .team-img {
  position: relative;
  overflow: hidden; }
.best-team-home2 .team-wrap .team-info {
  background-color: #296DC1;
  color: #FFF;
  padding: 15px 20px; }
.best-team-home2 .team-wrap .team-info h4 {
  font-size: 17px;
  margin-bottom: 0; }
.best-team-home2 .team-wrap .team-info span {
  color: #D8D8D8;
  margin-top: 5px; }
.best-team-home2 .team-wrap .overlay {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 70px; }
.best-team-home2 .team-wrap .overlay h5 {
  font-size: 17px;
  margin-bottom: 0; }
.best-team-home2 .team-wrap .overlay span {
  margin-top: 5px;
  color: #296DC1; }
.best-team-home2 .team-wrap .overlay p {
  color: #FAFAFA;
  line-height: 1.7; }
.best-team-home2 .team-wrap .overlay ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #FFF;
  color: #000;
  border-radius: 50%;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.best-team-home2 .team-wrap .overlay ul li:hover {
  background-color: #296DC1;
  color: #FFF;
  cursor: pointer; }

.best-price {
  padding-top: 100px; }
@media (max-width: 767px) {
  .best-price {
    padding-top: 50px; } }
.best-price .box-price h1 {
  font-family: serif; }
.best-price .box-price p {
  color: #555;
  line-height: 1.7; }
.best-price .item {
  padding-top: 30px; }
.best-price .item:hover .card .card-header, .best-price .item:hover .card .card-footer {
  background-image: linear-gradient(to left, #2b32b2, #1488cc); }
.best-price .item .card .card-header, .best-price .item .card .card-footer {
  background-image: linear-gradient(to left, #1488cc, #2b32b2);
  color: #FFF; }
.best-price .item .card .card-title {
  padding: 20px;
  font-size: 40px; }
.best-price .item .card .card-title span {
  font-weight: bold; }
.best-price .item .card .card-title sub {
  font-size: 15px;
  font-weight: bold; }
.best-price .item .card .card-body {
  background-color: #F1F1F1; }
.best-price .item .card .card-body ul li {
  color: #555;
  padding: 8px;
  border-bottom: 1px solid #FAFAFA; }
.best-price .item .card .card-body ul li:nth-child(1) {
  padding-top: 0; }
.best-price .switcher {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.best-price .switcher .switcher-wrap {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.best-price .switcher .switcher-wrap span {
  font-size: 17px; }
.best-price .switcher .switcher-wrap span.active {
  color: #296DC1; }
.best-price .switcher .switcher-wrap span:first-child {
  margin-right: 120px; }
.best-price .switcher .switch-box {
  width: 80px;
  height: 20px;
  position: absolute;
  left: 50.5%;
  top: 3px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
.best-price .switcher .switch-box .switch-slide {
  background-color: #296DC1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border-radius: 30px;
  cursor: pointer; }
.best-price .switcher .switch-box .switch-slide:before {
  background-color: #FFF;
  position: absolute;
  content: "";
  width: 40px;
  height: 15px;
  left: 2px;
  bottom: 3px;
  border-radius: 15px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.best-price .switcher .switch-box .pricing-slide-off:before {
  -webkit-transform: translateX(35px);
  -moz-transform: translateX(35px);
  -o-transform: translateX(35px);
  transform: translateX(35px); }
.best-price .price-table {
  position: relative; }
.best-price .price-table .price-grid {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  margin-left: 0; }
.best-price .price-table .active-price {
  position: relative;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }

.our-skills {
  background-color: #F1F1F1;
  margin-top: 100px;
  position: relative;
  overflow: hidden;
  z-index: 1; }
@media (max-width: 767px) {
  .our-skills {
    background-color: transparent;
    margin-top: 0; }
  .our-skills .img-skill {
    visibility: hidden; }
  .our-skills .img-skill img {
    display: none; } }
.our-skills .img-skill {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%; }
.our-skills .img-skill:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 0; }
.our-skills .img-skill img {
  visibility: hidden; }
.our-skills .skill-info {
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-left: 0; }
@media (max-width: 767px) {
  .our-skills .skill-info {
    padding-left: 0; } }
.our-skills .skill-info h1 {
  margin-bottom: 20px;
  font-family: serif; }
.our-skills .skill-info h5 {
  margin-bottom: 5px;
  font-size: 16px;
  color: #555; }
.our-skills .skill-info .progress {
  margin-bottom: 20px; }
.our-skills .skill-info .progress .progress-bar {
  text-align: right;
  background-color: #296DC1;
  padding-right: 10px; }

.brand-company {
  margin-top: 100px;
  padding-top: 150px;
  padding-bottom: 150px;
  color: #FFF;
  position: relative;
  z-index: 1; }
@media (max-width: 767px) {
  .brand-company {
    padding-bottom: 0;
    margin-top: 20px;
    padding-top: 50px; } }
.brand-company:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1; }
.brand-company h1 {
  margin-bottom: 15px;
  font-size: 25px; }
.brand-company p {
  line-height: 1.7; }
.brand-company .owl-carousel {
  margin-top: 30px; }
.brand-company .owl-carousel .item {
  background-color: #FFF;
  padding: 15px 30px; }

.best-team-home3 {
  padding-top: 50px;
  overflow: hidden; }
.best-team-home3 .box-team h1 {
  font-family: serif; }
.best-team-home3 .box-team p {
  color: #555;
  line-height: 1.7; }
.best-team-home3 .team-wrap {
  padding-top: 30px;
  overflow: hidden; }
.best-team-home3 .team-wrap:hover .team-img .team-hover ul li {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.best-team-home3 .team-wrap:hover .team-img .team-hover ul li:nth-child(1) {
  -webkit-transition-delay: 140ms;
  -moz-transition-delay: 140ms;
  -o-transition-delay: 140ms;
  transition-delay: 140ms; }
.best-team-home3 .team-wrap:hover .team-img .team-hover ul li:nth-child(2) {
  -webkit-transition-delay: 240ms;
  -moz-transition-delay: 240ms;
  -o-transition-delay: 240ms;
  transition-delay: 240ms; }
.best-team-home3 .team-wrap:hover .team-img .team-hover ul li:nth-child(3) {
  -webkit-transition-delay: 340ms;
  -moz-transition-delay: 340ms;
  -o-transition-delay: 340ms;
  transition-delay: 340ms; }
.best-team-home3 .team-wrap:hover .team-img .team-hover ul li:nth-child(4) {
  -webkit-transition-delay: 440ms;
  -moz-transition-delay: 440ms;
  -o-transition-delay: 440ms;
  transition-delay: 440ms; }
.best-team-home3 .team-wrap:hover .team-info {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.best-team-home3 .team-wrap .team-img {
  position: relative;
  overflow: hidden; }
.best-team-home3 .team-wrap .team-img .team-hover {
  position: absolute;
  top: 0;
  left: 0; }
.best-team-home3 .team-wrap .team-img .team-hover ul li {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #296DC1;
  color: #FFF;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.best-team-home3 .team-wrap .team-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #296DC1;
  color: #FFF;
  padding: 15px 20px;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom; }
.best-team-home3 .team-wrap .team-info h4 {
  font-size: 17px;
  margin-bottom: 0; }
.best-team-home3 .team-wrap .team-info span {
  color: #D8D8D8;
  margin-top: 5px; }

.bread-slide {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  z-index: 1; }
.bread-slide h1 {
  font-size: 50px;
  color: #FFF; }
.bread-slide nav {
  position: absolute;
  bottom: -15px;
  width: 100%;
  text-align: center; }
.bread-slide .breadcrumb {
  border-radius: 0;
  background-color: #000;
  justify-content: center; }
.bread-slide .breadcrumb li a {
  color: #FFF; }
.bread-slide .active {
  color: #296DC1; }

.helping {
  position: relative;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #FFF;
  z-index: 1; }
@media (max-width: 767px) {
  .helping {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px; } }
.helping h1 {
  font-size: 30px;
  margin-bottom: 20px; }
@media (max-width: 767px) {
  .helping h1 {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 1.7; } }
.helping p {
  line-height: 1.7;
  color: #D8D8D8; }
@media (max-width: 767px) {
  .helping p {
    font-size: 15px;
    line-height: 2; } }

.requset {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F1F1F1; }
.requset p {
  color: #555;
  padding-top: 10px; }

.financial {
  margin-top: 100px; }
.financial .carousel-control-prev, .financial .carousel-control-next {
  position: absolute;
  top: 50%;
  background-color: #296DC1;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  opacity: 1;
  right: -100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
.financial .carousel-control-prev {
  left: -100px; }
.financial:hover .carousel-control-prev {
  left: 0; }
.financial:hover .carousel-control-next {
  right: 0; }
.financial .financial-content {
  margin-top: 30px; }
.financial .financial-content h5, .financial .financial-content h4, .financial .financial-content h3 {
  color: #555;
  font-family: serif;
  font-size: 25px;
  margin-bottom: 20px; }
.financial .financial-content p, .financial .financial-content blockquote {
  color: #888;
  line-height: 1.7; }
.financial .financial-content blockquote {
  border-left: 3px solid #296DC1;
  padding: 20px;
  background-color: #F1F1F1;
  font-style: italic; }
.financial .financial-info .financial-link {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none; }
.financial .financial-info .financial-link ul li {
  background-color: #FFF;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer; }
.financial .financial-info .financial-link ul li.active, .financial .financial-info .financial-link ul li:hover {
  background-color: #296DC1; }
.financial .financial-info .financial-link ul li.active a, .financial .financial-info .financial-link ul li:hover a {
  color: #FFF; }
.financial .financial-info .financial-link ul li a {
  text-decoration: none;
  color: #000; }
.financial .financial-author {
  background-color: #F1F1F1;
  padding: 20px;
  margin-top: 30px; }
.financial .financial-author:hover {
  text-align: right; }
.financial .financial-author img {
  border-radius: 50%;
  margin-bottom: 15px; }
.financial .financial-author h6 {
  margin-bottom: 0; }
.financial .financial-author span {
  color: #296DC1;
  margin-top: 5px;
  font-size: 13px;
  font-style: italic; }
.financial .financial-author p {
  margin-top: 10px;
  color: #555; }
.financial .financial-img {
  margin-top: 30px;
  position: relative;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.financial .financial-img:hover {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform: scale(1.08);
  -moz-transform: scale(1.08);
  -o-transform: scale(1.08);
  transform: scale(1.08); }
.financial .financial-img:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  width: 100%;
  height: 100%; }

.side-right .side-content {
  margin-top: 30px; }
.side-right .side-content .form-group {
  position: relative; }
.side-right .side-content .form-group i {
  position: absolute;
  top: -2px;
  right: -38px;
  color: #FFF;
  bottom: -3px;
  background-color: #296DC1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center; }
.side-right .side-content .category {
  background-color: #FAFAFA;
  padding: 20px;
  margin-bottom: 30px; }
.side-right .side-content .category h1 {
  font-size: 25px;
  margin-bottom: 15px; }
.side-right .side-content .category ul li {
  padding-bottom: 10px;
  color: #000;
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.side-right .side-content .category ul li:before {
  position: absolute;
  top: 0;
  left: 0px;
  content: "\f101";
  font-family: "FontAwesome";
  color: #296DC1; }
.side-right .side-content .category ul li:hover {
  margin-left: 15px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.side-right .side-content .category ul li:hover a {
  color: #296DC1; }
.side-right .side-content .category ul li a {
  text-decoration: none;
  color: #000; }
.side-right .side-content .related-post {
  margin-bottom: 30px; }
.side-right .side-content .related-post h1 {
  font-size: 25px;
  margin-bottom: 15px; }
.side-right .side-content .related-post .media .media-body p {
  margin-bottom: 0;
  line-height: 1.7;
  color: #555;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.side-right .side-content .related-post .media .media-body p:hover {
  color: #296DC1;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.side-right .side-content .related-post .media .media-body span {
  margin-top: 8px;
  color: #296DC1;
  font-size: 14px; }
.side-right .side-content .archive {
  margin-bottom: 30px; }
.side-right .side-content .archive h1 {
  font-size: 25px;
  margin-bottom: 15px; }
.side-right .side-content .archive ul li {
  padding-bottom: 10px;
  color: #000;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.side-right .side-content .archive ul li:hover a {
  color: #296DC1;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.side-right .side-content .archive ul li a {
  text-decoration: none;
  color: #000; }
.side-right .side-content .post-tags {
  margin-bottom: 30px; }
.side-right .side-content .post-tags h1 {
  font-size: 25px;
  margin-bottom: 15px; }
.side-right .side-content .post-tags ul li {
  display: inline-block;
  padding: 15px 20px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.side-right .side-content .post-tags ul li:hover {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background-color: #296DC1; }
.side-right .side-content .post-tags ul li:hover a {
  color: #FFF;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.side-right .side-content .post-tags ul li a {
  text-decoration: none;
  color: #000; }

.blog-detail {
  margin-top: 100px; }
.blog-detail .blog-img {
  margin-bottom: 30px; }
.blog-detail .blog-content {
  margin-right: 30px; }
.blog-detail .blog-content h5 {
  margin-bottom: 15px;
  font-size: 25px; }
.blog-detail .blog-content p {
  color: #555;
  line-height: 1.7; }
.blog-detail .blog-content blockquote {
  background-color: #6999D3;
  padding: 20px;
  border-left: 5px solid #296DC1;
  color: #FFF;
  font-style: italic;
  line-height: 1.7;
  border-radius: 10px; }
.blog-detail .blog-content ul {
  color: #555; }
.blog-detail .blog-content ul li {
  position: relative;
  padding-left: 20px; }
.blog-detail .blog-content ul li:before {
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #296DC1;
  content: ""; }
.blog-detail .blog-content .comment {
  margin-top: 30px; }
.blog-detail .blog-content .comment h1 {
  font-size: 30px;
  margin-bottom: 15px; }
.blog-detail .blog-content .comment .media {
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px; }
.blog-detail .blog-content .comment .media:nth-child(3), .blog-detail .blog-content .comment .media:nth-child(5) {
  margin-left: 30px; }
.blog-detail .blog-content .comment .media:nth-child(4), .blog-detail .blog-content .comment .media:nth-child(6) {
  margin-left: 60px; }
.blog-detail .blog-content .comment .media img {
  border-radius: 50%; }
.blog-detail .blog-content .comment .media .media-body {
  margin-left: 15px; }
.blog-detail .blog-content .comment .media .media-body h3 {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px; }
.blog-detail .blog-content .comment .media .media-body span {
  color: #888; }
.blog-detail .blog-content .comment .media .media-body p {
  color: #888;
  line-height: 1.7;
  font-size: 15px;
  margin-bottom: 5px; }
.blog-detail .blog-content .comment .media .media-body a {
  color: #888;
  text-decoration: none;
  font-style: italic;
  font-size: 15px; }
.blog-detail .blog-content .comment form {
  margin-top: 30px; }
.blog-detail .blog-content .comment form h1 {
  font-size: 23px; }
.blog-detail .blog-content .comment form .form-group input[type="text"] {
  width: 48%;
  float: left;
  margin-bottom: 15px;
  margin-right: 2%; }
.blog-detail .blog-content .comment form textarea {
  margin-bottom: 15px;
  height: 180px; }
.blog-detail .side-content {
  margin-top: 0; }

.contact {
  margin-top: 100px; }
.contact h1 {
  margin-bottom: 15px;
  font-size: 27px; }
.contact form {
  margin-right: 20px; }
.contact form input[name="name"], .contact form input[type="email"] {
  float: left;
  width: 49%;
  margin-bottom: 15px; }
.contact form input[name="name"] {
  margin-right: 2%; }
.contact form textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 20px; }
.contact .contact-info {
  margin-top: 50px; }
.contact .contact-info ul li {
  background-color: #0552b1;
  color: #FFF;
  padding: 15px; }
.contact .contact-info ul li i {
  float: left;
  margin-left: 30px;
  margin-top: 10px; }
.contact .contact-info ul li p {
  margin-bottom: 5px; }
.contact .contact-info ul li .info-box {
  margin-left: 100px; }
.contact .contact-info ul li.active {
  background-color: #296DC1; }

.footer {
  background-color: #296DC1;
  color: #FFF;
  padding-top: 100px;
  padding-bottom: 100px; }
@media (max-width: 767px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px; } }
.footer .footer-info {
  margin-bottom: 20px; }
.footer .footer-info h2 {
  margin-bottom: 20px;
  font-size: 25px; }
.footer .footer-info p {
  color: #D8D8D8; }
.footer .footer-info h5 {
  color: #D8D8D8;
  font-size: 15px; }
.footer .footer-info h5:nth-of-type(1) {
  margin-bottom: 10px; }
.footer .footer-info ul li {
  margin-bottom: 10px;
  color: #D8D8D8; }
.footer .footer-info ul li i {
  color: #FFF; }
.footer .footer-link h3 {
  margin-bottom: 20px;
  color: #D8D8D8;
  font-size: 20px; }
.footer .footer-link ul li {
  padding-bottom: 10px;
  position: relative;
  font-size: 15px;
  padding-left: 15px; }
.footer .footer-link ul li a {
  text-decoration: none;
  color: #D8D8D8; }
.footer .footer-link ul li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "\f105";
  font-family: fontawesome; }
.footer .footer-link ul li:hover {
  margin-left: 10px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.footer .footer-link ul li:hover a {
  color: #FFF; }
.footer .footer-img {
  margin-bottom: 20px; }
.footer .footer-img h3 {
  margin-bottom: 20px;
  color: #D8D8D8;
  font-size: 20px; }
.footer .footer-img .image {
  position: relative;
  display: inline-block; }
.footer .footer-img .image img {
  max-width: 80px; }
.footer .footer-img .image:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  content: ""; }
.footer .footer-img .image:hover:before {
  background-color: rgba(0, 0, 0, 0.5); }
.footer .footer-contact h3 {
  margin-bottom: 20px;
  color: #D8D8D8;
  font-size: 20px; }
.footer .footer-contact .form-group input {
  border: 1px solid #FFF; }
.footer .footer-contact .form-group textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #FFF;
  padding-left: 10px;
  padding-top: 5px; }
.footer .footer-contact button:hover {
  border: 2px solid #FFF; }

.copyright {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
  color: #D8D8D8; }
.copyright i {
  color: #296DC1; }

.top-bar {
  background-color: #296DC1;
  color: #FFF;
  padding-top: 15px; }
@media (max-width: 767px) {
  .top-bar .icons {
    text-align: left !important;
    margin-bottom: 10px; } }
.top-bar .icons i {
  color: #D8D8D8;
  padding-left: 10px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
.top-bar .icons i:hover {
  color: #FFF;
  cursor: pointer; }

.top-links {
  background-color: #296DC1;
  border-top: 2px solid rgba(119, 173, 238, 0.4);
  position: relative;
  color: #FFF; }
.top-links:before {
  content: "";
  background-color: #fff;
  width: 35%;
  height: 100%;
  position: absolute;
  left: -80px;
  top: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: skewX(40deg);
  -moz-transform: skewX(40deg);
  -o-transform: skewX(40deg);
  -ms-transform: skewX(40deg);
  transform: skewX(40deg); }
@media (max-width: 991px) {
  .top-links:before {
    display: none; } }
.top-links .logo {
  padding: 20px;
  padding-bottom: 0; }
@media (max-width: 991px) {
  .top-links .logo {
    text-align: center;
    margin-bottom: 15px; } }
.top-links .logo a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 30px; }
@media (max-width: 991px) {
  .top-links .logo a {
    color: #FFF; } }
.top-links .links .box-link {
  padding: 5px;
  display: inline-block;
  margin-right: 0; }
@media (max-width: 991px) {
  .top-links .links .box-link {
    padding: 10px 8px; } }
@media (min-width: 1200px) {
  .top-links .links .box-link {
    margin-right: 30px;
    padding: 20px 10px; } }
.top-links .links .box-link i {
  float: left;
  margin-right: 15px; }
.top-links .links .box-link .box {
  float: right; }
.top-links .links .box-link .box h4 {
  font-size: 15px; }
.top-links .links .box-link .box span {
  font-size: 14px;
  color: #D8D8D8; }

.navbar {
  padding: 0;
  position: relative; }
.navbar:after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 4px;
  background-color: #0552b1;
  content: "";
  z-index: 9;
  animation: animate 8s infinite; }
@keyframes animate {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
@media (max-width: 991px) {
  .navbar .collapse {
    display: none; } }
.navbar .btn {
  margin-bottom: 25px; }
.navbar .btn .btn-toggler {
  position: absolute;
  top: 7px;
  right: 0;
  bottom: 0;
  width: 50px;
  cursor: pointer;
  display: none; }
@media (max-width: 991px) {
  .navbar .btn .btn-toggler {
    display: block; } }
.navbar .btn .btn-toggler .bar {
  width: 70%;
  display: block;
  height: 5px;
  background-color: #296DC1;
  margin-bottom: 5px;
  transition: 0.5s; }
.navbar .search {
  color: #FFF;
  background-color: #296DC1;
  padding: 24px;
  cursor: pointer;
  -webkit-transform: skewX(15deg);
  -moz-transform: skewX(15deg);
  -o-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  transform: skewX(15deg); }
@media (max-width: 991px) {
  .navbar .search {
    -webkit-transform: skewX(0);
    -moz-transform: skewX(0);
    -o-transform: skewX(0);
    -ms-transform: skewX(0);
    transform: skewX(0); } }
.navbar .search i {
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg); }
@media (max-width: 991px) {
  .navbar .search {
    background-color: transparent;
    color: #296DC1; } }

.bg-light {
  background-color: transparent !important; }

.navbar-light .navbar-nav .nav-link {
  padding: 24px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
  background-color: #296DC1;
  color: #FFF !important; }

.dropdown-item:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #296DC1;
  color: #FFF;
  padding-left: 20px; }

.dropdown-item.active {
  background-color: #296DC1; }

#mu-search {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  transform: translateY(-100%) scale(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 99999; }
#mu-search .mu-search-area {
  display: inline;
  float: left;
  width: 100%;
  padding: 20% 0;
  text-align: center; }
#mu-search .mu-search-area .mu-search-close {
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 25px;
  height: 50px;
  position: absolute;
  right: 50px;
  line-height: 50px;
  top: 50px;
  width: 50px;
  background-color: #555;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
#mu-search .mu-search-area .mu-search-close:hover {
  background-color: #296DC1; }
#mu-search .mu-search-area .mu-search-form input[type="search"] {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 45px;
  font-family: "Montserrat", sans-serif;
  height: 100px;
  outline: none;
  text-align: center;
  width: 100%; }

.close .bar:first-child {
  transform: rotate(-45deg) translate(-6px, 6px); }

.close .bar:nth-child(2) {
  opacity: 0; }

.close .bar:last-child {
  transform: rotate(45deg) translate(-8px, -8px); }

#mu-search.mu-search-open {
  transform: translateY(0) scale(1); }

.main-btn {
  position: relative;
  padding: 10px 40px;
  border: none;
  background-color: #FFF;
  color: #296DC1;
  z-index: 0; }
.main-btn:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #296DC1;
  z-index: -1;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7); }

.m-btn1 {
  color: #FFF; }
.m-btn1:hover {
  color: #296DC1; }
.m-btn1:before {
  transform: scaleY(1); }
.m-btn1:hover:before {
  transform: scaleY(0); }

.m-btn2:hover {
  color: #FFF; }
.m-btn2:before {
  transform: scaleY(0); }
.m-btn2:hover:before {
  transform: scaleY(1); }

/*

.portfolio-menu button::before {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: -9;
    width: 55px;
    height: 100%;
    background: #0552b1;
    content: "";
    transform: skew(-48deg);
    -webkit-transform: skew(-48deg);
    -moz-transform: skew(-48deg);
}
*/

/*# sourceMappingURL=style.css.map */
