$maxmobile: "(max-width:576px)";
$maxpad   : "(max-width:767px)";
$maxSmall : "(max-width:991px)";
$minSmall : "(min-width:768px)";
$minMedium: "(min-width:992px)";
$minLarge : "(min-width:1200px)";

$maincolor: #296DC1;

$secondcolor: #D8D8D8;

$threecolor: #0552b1;

$floatleft: left;

$floatright: right;

$textright: right;