.bread-slide {
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    z-index: 1;

    h1 {
        font-size: 50px;
        color: #FFF;
    }

    nav {
        position: absolute;
        bottom: -15px;
        width: 100%;
        text-align: center;
    }

    .breadcrumb {
        border-radius: 0;
        background-color: #000;
        justify-content: center;
        li {
            a {
                color: #FFF;
            }
        }
    }

    .active {
        color: $maincolor;
    }
}
