.helping {
    position: relative;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #FFF;
    z-index: 1;
    
    @media #{$maxpad} {
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    h1 {
        font-size: 30px;
        margin-bottom: 20px;
        
        @media #{$maxpad} {
            font-size: 25px;
            margin-bottom: 15px;
            line-height: 1.7;
        }
    }
    
    p {
        line-height: 1.7;
        color: $secondcolor;
        
        @media #{$maxpad} {
            font-size: 15px;
            line-height: 2;
        }
    }

}