.sign-up {
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    z-index: 0;
    margin-top: 100px;
    color: #FFF;
    @include cover;

    @media #{$maxpad} {
        margin-top: 50px;
    }

    width: 100%;

    .overlay-ng {

        background-color: rgba(0, 0, 0, .8);
    }

    h2 {
        @media #{$maxpad} {
            font-size: 26px;
        }
    }

    h5 {
        font-size: 16px;
        color: $secondcolor;
        margin-top: 15px;
    }


    .form-group {
        margin-top: 20px;
        position: relative;

        button {
            padding: 7px 35px;
            background-color: #0552B1;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;

            &:hover {
                color: #FFF;
            }
        }
    }
}